body {
    background-color: #e9ecef;
}

.progressCircleContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.headingContainer {
    display: flex;
    justify-content: center;
}

@media (max-width: 770px) {
    .responsiveContainer {
        margin: 0 10%;
    }
}